<?xml version="1.0"?>
<launch>
  <include file="$(find mobility_sensing)/launch/tag_frames_semantic.launch" />

  <!-- mobility games requires a keyboard press in order to switch between calibration and run modes -->
  <node pkg="keyboard" type="keyboard" name="keyboard" />

  <node pkg="navigation_prototypes" type="ar_waypoint_test.py" name="ar_waypoint_test" output="screen" />
  <!-- <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" /> -->

</launch>
